.container-login {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.confirm-class .ant-modal-confirm-content {
  width: 100%;
}
#topology-graph-wrapper {
  width: 100%;
  height: 100%;
}
.cutomBadge .ant-badge-status-dot {
  position: relative;
  top: -2px !important;
  display: inline-block;
  width: 15px !important;
  height: 15px !important;
  vertical-align: middle;
  border-radius: 50%;
}

.custom-ant-pro-global-header {
  position: relative;
  background: transparent;
  display: flex;
  align-items: center;
  margin-block: 0;
  margin-inline: 16px;
  height: 56px;
  box-sizing: border-box;
}
